<img src="assets/Stakeholders.png" height="300" width="100%"
    alt="Manmade Infrastructure" matTooltip="Manmade Infrastructure">

<div class="card highlight-card card-small">
    <span>{{ title }}</span>
</div>
<div class="pagebg">
    <h3>And why do we need them for an architecture practice?</h3>
    <p>
        Architecture in any sense of its definition—&OpenCurlyDoubleQuote;Art or science of building; A method or style of building; Construction … frame or structure; Architectural product&CloseCurlyDoubleQuote; [Webster New International Dictionary 2nd Edition, 1950]—requires a product or something to be built.  Does the architect do this for the pure aesthetic?  Perhaps.  In many cases though and certainly in business, the product or service provided serves the goals of the enterprise.
    </p>
    <p>
        One group of stakeholders is the C-Suite officers.  Each department (line, business unit, etc.) has a role to play in the enterprise and all are dependant on IT in some way. The various C level officers are responsible to the CEO for a business fuction which they are entrusted to run in an efficient manner (low cost) and maximum productivity.
    </p>

    <!--
    <p>
        <button mat-button (click)="openConfirmationDialog()">Open Confirm Dialog</button>
    </p>
    -->
</div>