<p>{{ dialogData.message }}</p>
<mat-dialog-content>
    <p>
        <label for="name">Name</label><br>
        <input id="name" type="text" width="80%" [formControl]="nameControl">
    </p>
    <p>
        <label for="email">Email</label><br>
        <input id="email" type="text" [formControl]="emailControl">
    </p>
    <p>
        <label for="'message">Message</label><br>
        <textarea id="message" width="80%" rows="4" [formControl]="messageControl"></textarea>
    </p>
</mat-dialog-content>

<div>
    <mat-dialog-actions>
        <button mat-button color="primary" (click)="onCancelClick()">{{dialogData.buttonText.cancel}}</button>
        <button mat-button [mat-dialog-close]="
		'submit'" cdkFocusInitial>{{dialogData.buttonText.submit}}</button>
    </mat-dialog-actions>
</div>