<img class="center" src="assets/WoodsInUP.png" alt="Manmade Infrastructure" matTooltip="Manmade Infrastructure">

<div>
<h1 class="center">{{ title }}</h1>
</div>
<div class="pagebg">
<p>
    <label for="name">Name</label><br>
    <input id="name" type="text" width="50%" [formControl]="nameControl">
</p>
<p>
    <label for="email">Email</label><br>
    <input id="email" type="text" [formControl]="emailControl">
</p>
<p>
    <label for="'message">Message</label><br>
    <textarea id="message" rows="4" [formControl]="messageControl"></textarea>
</p>


<button (click)="onSubmit()">Submit</button>
</div> 

