<main class="main">
  <div class="content">

    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Ed Skoviak Computing</span>
      <button mat-raised-button matTooltip="Info about the action" [matTooltipPosition]='position'
        aria-label="Button that displays a tooltip in various positions">
        Business
      </button>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>


    <img src="assets/NorthShoreCairns.png" height="300" width="100%"
      alt="Cairns on Minnesota's North Shore of Lake Superior">

    <div class="card highlight-card card-small">
      <span>{{ title }}</span>
    </div>
    <router-outlet />
    <footer>
      <div class="footer">
        &copy; 2025 Ed Skoviak Computing
      </div>
    </footer>
  </div>


</main>