/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 10px 0 0 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
}

h1.center {
    text-align: center;
}

h3.center {
    text-align: center;
} 

a {
  text-decoration: none;
  color: rgb(6, 32, 176);
}

img {
  border: none;
  border-radius: 4px;
  max-width: 73%;
  height: auto;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 73%;
}


.button-container {
  width: 100%;
  height: 50px;
  display: table;
  border-collapse: separate;
  border-spacing: 25px;
}

.button-container .button {
  display: table-cell;
  text-align: center;
  border: 1px solid #FF0000;
  vertical-align: middle;
}

.mat-toolbar{
  border-radius: 4px;
  border: 2px;
  background-color: #4d84bf;
}

.card {
  border-radius: 4px;
  border: none;
  background-color: #d3e4ff;
  height: 40px;
  width: 200px;
  margin: 4px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.pagebg {
  background-image: linear-gradient(rgba(66, 163, 241, 0.137), rgba(127, 148, 187, 0.027));
}
.pagebg_business {
  background-image: linear-gradient(greenyellow, rgba(174, 188, 140, 0.027));
  color: rgb(6, 123, 35);
}
.pagebg_data {
  background-image: linear-gradient(peachpuff, rgba(242, 212, 188, 0.027));
  color: brown
}
.pagebg_application {
  background-image: linear-gradient(aqua, rgba(176, 239, 240, 0.027));
  color: rgb(52, 2, 145);
}
.pagebg_technology {
  background-image: linear-gradient(plum, rgba(237, 199, 244, 0.027));
  color: purple
}








