/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: "/assets/Hor and Piscah.png";
}

h1 {
    font-size: 3.125rem;
    color: white;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 10px 0 0 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
}

h1.center {
    text-align: center;
}

h3 {
  padding: 2px;
  margin: 10px;
}

h3.center {
    text-align: center;
} 

p {
  padding: 2px;
  margin: 10px;
}

a {
  text-decoration: none;
  color: rgb(6, 32, 176);
}

img {
  border: 1px;
  border-radius: 4px;
  max-width: 73%;
  height: auto;
  padding: 5px; 
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 73%;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(2, 85, 23);
  margin: 10px;
}

table.noframe {
  border: 0px;
  margin: 0px;
}

tr {
  border: 1px solid black;
}

tr.noframe {
  border: 0px;
} 

td, th {
  padding: 10px;
  text-align: left;
}

td.multirow {
  vertical-align: center;
  align-content: center;
  border: 1px solid rgb(2, 85, 23);
}

caption {
  font-size: 1.5rem;
  margin: 10px;
  font-weight: ittalic;
  caption-side: bottom;
}

.button-container {
  width: 100%;
  height: 50px;
  display: table;
  border-collapse: separate;
  border-spacing: 25px;
}

.button-container .button {
  display: table-cell;
  text-align: center;
  border: 1px solid #FF0000;
  vertical-align: middle;
}

.mat-toolbar{
  border-radius: 4px;
  border: 2px;
  background-color: #4d84bf;
}

.card {
  border-radius: 4px;
  border: none;
  background-color: #d3e4ff;
  height: 40px;
  width: 200px;
  margin: 4px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.pagebg {
  background-color: white;
  background-image: linear-gradient(rgba(22, 22, 186, 0.137), rgba(127, 148, 187, 0.027));
  opacity: 1;
}
.pagebg_business {
  background-color: white;
  background-image: linear-gradient(rgba(173, 255, 47, 0.4), rgba(174, 188, 140, 0.027));
  color: rgb(2, 85, 23);
  opacity: 1;
}
.pagebg_data {
  background-color: white;
  background-image: linear-gradient(rgba(255, 218, 185, 0.5), rgba(242, 212, 188, 0.027));
  color: brown;
  opacity: 1;
}
.pagebg_application {
  background-color: white;
  background-image: linear-gradient(rgba(0, 255, 255, 0.35), rgba(176, 239, 240, 0.027));
  color: rgb(52, 2, 145);
  opacity: 1;
}
.pagebg_technology {
  background-color: white;
  background-image: linear-gradient(rgba(221, 160, 221, 0.5), rgba(237, 199, 244, 0.027));
  color: rgba(87, 2, 100, 0.925);
  opacity: 1;
}








