<div>
    <p>
      Ed Skoviak Computing (ESC) is an advisory practice, dedicated to helping companies establish an Enterprise
      Architecture practice.  We believe that this practice is most successful if it is built organically within the company's Ethos.  This means that
      that our practicioners partners with your senior IT staff to find and coach individuals in you exsiting organization create
      the basis of your architectural Center of Excellence.
    </p>
    <p>
      ESC defines Enterprise Architecture as the holistic view of all the Information Technology (IT) stack in a company.
    </p>
    <p>
      [the glue] Information systems require information to function.
    </p>
    <p>
      It is our experience that [the practice let to]
    </p>
    <p>
      the IT systems in a compmany grow organically perhaps due to:
    </p>
    <ul>
      <li>Expansion of a business capability</li>
      <li>New business capability arises</li>
      <li>Merger/Acquisition</li>
      <li>Market Base growth</li>
    </ul>
    <p>
      Too often, this expansion of IT footprint happens in silo&mdash;especially in a firm with multiple business
      functions&mdash;resulting in a fragmenteed
    </p>
  </div>