<img src="assets/NorthShoreCairns.png" height="300" width="100%"
alt="Cairns on Minnesota's North Shore of Lake Superior" matTooltip="Cairns on Minnesota's North Shore">

<div class="card highlight-card card-small">
<span>{{ title }}</span>
</div>
<div class="pagebg">
  <p>
    Ed Skoviak Computing (ESC) is an advisory practice, dedicated to helping companies establish or further an Enterprise Architecture practice.  We believe that an Architecture practice is most successful when it is built organically within the company's Ethos.  This means that that our practitioners partner with your senior IT staff to find and coach individuals within your existing organization to create the basis of your Enterprise Architecture Center of Excellence (CoE).
  </p>
  <p>
    We are also available to assist existing Enterprise Architecture groups go to the next level by examining your organization and recommending specific adjustments to your practice to increase efficiency.
  </p>
  <p>
    Whether you have an existing practice or are starting a new team, we can also guide your team to higher maturity by mentoring your team into building an effective Enterprise Reference Architecture.
  </p>
  <p>
    ESC defines Enterprise Architecture as the holistic view of the Information Technology (IT) stack in a company and the business processes that it supports.  Our approach uses a focus on four architectural aspects of the firms unique IT infrastructure: Business, Data, Architecture, and Technology (BDAT). What this means is that we apply the rigor of BDAT to the existing expertise in your firm to deliver (or enhance) a CoE (practice).
  </p>
  <p>This approach is less focused on titles (Business Architect, Enterprise Architect, etc.) but rather on the practice of Architecture within a group of IT experts.  We seek to leverage the IT expertise and coach the associates to work together.  Our value-add is the creation of a team <i>within</i> the existing organization.</p>
  <p>
    Some hallmarks of this practice are:
  </p>
        <ul>
      <li>Understanding Current State (baseline).</li>
      <li>A comprehensive roadmap across all business units looking 3-5 years out.</li>
      <li>Creation of an Enterprise Reference Architecture</li>
      <li>Establish partnerships with internal and external stakeholders.</li>
      <li>DOCUMENTATION and GOVERNANCE.</li>
      </ul>
  <p> 
    In many companies, the IT systems appear as a patchwork of systems.  There are several causes for this (not an exhaustive list):
  </p>
  <ul>
    <li>Expansion of a business capability</li>
    <li>New business capability arises</li>
    <li>Merger/Acquisition</li>
    <li>Market Base growth</li>
    <li>Addition or removal of third party tools</li>
  </ul>
  <p>
    Too often, this expansion of IT footprint happens in a silo&mdash;especially in a firm with multiple business functions&mdash;resulting in a piecemeal Architecture.  We believe the practice approach will bring order to the chaos.
  </p>
  </div>