<div class="pagebg">
    <p>
      Ed Skoviak Computing (ESC) is an advisory practice, dedicated to helping companies establish an Enterprise
      Architecture practice.  We believe that this practice is most successful when it is built organically within the company's
      Ethos.  This means that that our practicioners partner with your senior IT staff to find and coach individuals in your
      exsiting organization to create the basis of your Enterprise Architecture Center of Excellence (CoE).
    </p>
    <p>
      ESC defines Enterprise Architecture as the holistic view of the Information Technology (IT) stack in a company.  Our
      approach blends the philosophy of a focus on the traditional TOGAF concept of Business, Data and Architecture (BDA)
      with the uniqueness of a firm's IT structure.
    </p>
    <p>
      In many companies, the IT systems appear as a patchwork of systems.  There are several causes for this (not an exhaustive
      list):
    </p>
    <ul>
      <li>Expansion of a business capability</li>
      <li>New business capability arises</li>
      <li>Merger/Acquisition</li>
      <li>Market Base growth</li>
      <li>Addition or removal of third party tools</li>
    </ul>
    <p>
      Too often, this expansion of IT footprint happens in a silo&mdash;especially in a firm with multiple business 
      functions&mdash;resulting in a piecemeal Architecture.
    </p>
  </div>